<form method="get" action="/save">
  <input type="text" name="cnt" />

  <input type="submit"/>
</form>

<form method="post" action="/save">
  <input type="text" name="cnt" />

  <input type="submit"/>
</form>
